<h3 class="ui header">{{t "forms.i-i-s-zxccxzxczxcxz-x-x-x-сервер-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.протокол
      class=(if (v-get validationModel "протокол" "isInvalid") "error")
      label=(t "forms.i-i-s-zxccxzxczxcxz-x-x-x-сервер-e.протокол-caption")
      data-test-i-i-s-zxccxzxczxcxz-x-x-x-сервер-e-протокол=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "протокол" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.iP
      class=(if (v-get validationModel "iP" "isInvalid") "error")
      label=(t "forms.i-i-s-zxccxzxczxcxz-x-x-x-сервер-e.iP-caption")
      data-test-i-i-s-zxccxzxczxcxz-x-x-x-сервер-e-iP=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "iP" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.порт
      class=(if (v-get validationModel "порт" "isInvalid") "error")
      label=(t "forms.i-i-s-zxccxzxczxcxz-x-x-x-сервер-e.порт-caption")
      data-test-i-i-s-zxccxzxczxcxz-x-x-x-сервер-e-порт=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "порт" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-zxccxzxczxcxz-x-x-x-сервер-e.сотрудник-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудник
      displayAttributeName="имя"
      autocomplete=true
      relationName="сотрудник"
      projection="СотрудникL"
      title=(t "forms.i-i-s-zxccxzxczxcxz-x-x-x-сервер-e.сотрудник-caption")
      readonly=readonly
      componentName="сотрудникLookup"
      class=(if (v-get validationModel "сотрудник" "isInvalid") "error")
      data-test-i-i-s-zxccxzxczxcxz-x-x-x-сервер-e-сотрудник=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудник" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-zxccxzxczxcxz-x-x-x-сервер-e.настройки-caption"}}</label>
    {{flexberry-groupedit
      componentName="настройкиGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.настройки
      content=model.настройки
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "настройки" "isInvalid") "error")
      data-test-i-i-s-zxccxzxczxcxz-x-x-x-сервер-e-настройки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "настройки" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-zxccxzxczxcxz-x-x-x-сервер-e.программы-caption"}}</label>
    {{flexberry-groupedit
      componentName="программыGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.программы
      content=model.программы
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "программы" "isInvalid") "error")
      data-test-i-i-s-zxccxzxczxcxz-x-x-x-сервер-e-программы=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "программы" "message")}}
  </div>
</form>
